
.postCard{
    max-width: 400px;
    background-color: #141d26;
    border-radius: 20px;
    margin: auto;


}
body{
    font-size: 16px;
    font-family: sans-serif;
    background-color:#141d26;
    color: #f4f4f4;
    direction: ltr;
    overflow: auto;
    
}
h3{
    text-align: center;
    color: #286090;
}
.postCard a input{
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 20px;
    text-align:left;
    padding:0  15px;
    cursor: pointer;

}
input{
    color: black;
}

#room{
    display: none;
    visibility: hidden;
}