body{
    background: #f4f4f4;
}

.postCard{
    max-width: 400px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: auto;

}
.postCard a input{
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 20px;
    text-align:left;
    padding:0  15px;
    cursor: pointer;

}

.postContainer{
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    border: 1px solid  silver;
    padding: 5px  12px;
    margin: auto;
    background: white;
}
.postContainer img{
width: 100%;
min-width: 250px;
max-width: 620px;
height: auto;
max-height: 500px;
margin-top: 10px;

}
.postContainer .bottom{
   margin-top: 10px;
   
}
button a:hover{
   text-decoration: none;
}