

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.nav-link{
    font-size: 18px;
}
nav ul li {
    flex: 1;
    text-decoration: none;
    list-style-type: none;

}
nav ul li a :hover{
    text-decoration: none;
}


.btn{
    background-color: #141d26;
    margin: 5px;
}
.btn :hover{
    background-color: #141d26;
    color: black;
} 
.btn i{
    font-size: 23px;
}

.postContainer{
    width: 100%;
    min-width: 280px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    border: 1px solid  silver;
    padding:15px  12px;
    margin: auto;
    background-color:#141d26;
    border-radius: 10px;
    box-shadow: 5px 5px silver;
}
.postContainer img{
    width: 100%;
    min-width: 250px;
    max-width: 630px;
    height: auto;
    max-height: 500px;
    margin: auto ;

}
.postContainer .bottom{
   margin-top: 10px;
   display: flex;
   width: 100%;
   min-width: 250px;
   max-width: 630px;
   
}
.postContainer .top a{
    padding: 10px;
    margin-bottom:8px;
}
.btn{
    flex-direction: row;
    box-sizing: border-box;
    flex: 1;
}
button a:hover{
   text-decoration: none;
}
.input{
    border: 1px solid silver;
    margin: 10px;
}
.postContainer input{
    width: 100%;
    margin: 5px  5px;
    padding: 7px;
}