nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.nav-link{
    font-size: 18px;
}
nav ul li {
    flex: 1;
    text-decoration: none;
    list-style-type: none;

}
nav ul li a :hover{
    text-decoration: none;
}
body{
    font-size: 16px;
    font-family: sans-serif;
}
.btn{
    background-color: #f4f4f4;
    margin: 5px;
}
.btn :hover{
    background-color: white;
    color: black;
} 
.btn i{
    font-size: 23px;
}