extends layout
block head 
    title Direct
    link(rel="stylesheet", href="../style/index.css")
block content
    h1 Direct
    hr
    .hideME
        h1 #{user.key}
    #Chat.container
    form.card(action='#')
        .form-group
            input#msgBox.form-control(name='', rows='')
            button#sendBtn.btn.btn-success Send
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="../style/direct.css")
    script(src="../scripts/direct.js")
