extends layout
block head 
    link(rel="stylesheet", href="../style/index.css")
                    
         
    
block content
    .container
        br
        .postCard
            a(href='/post')
                input(type='text', name='', placeholder=`What is on your mind, ${user.name}? ` )
        //img(src="/image/profile-1591806888618.png", alt="",width="400px" srcset="")