doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel="stylesheet", href="../style/layout.css")
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css', integrity='sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js', integrity='sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd', crossorigin='anonymous')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  script(src="https://use.fontawesome.com/1767c78396.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
 
  block head
    -var title='Facebook'
    title #{title}
  body 
      nav
        ul.nav
          li
            a.nav-link(href='/')
              i.fa.fa-home(aria-hidden='true')  &nbsp;
              | Home 
          li
            a.nav-link(href='/profile')
              i.fa.fa-user(aria-hidden='true')  &nbsp;
              | Profile 
          -if(user){
            li
              a.nav-link(href='user/logout')
                i.fa.fa-sign-out(aria-hidden='true')  &nbsp;
                |  Logout 
            li 
              a.nav-link(href='direct')
                i.fa.fa-paper-plane(aria-hidden='true') &nbsp;
                | Direct
          -}
          -else{
            li
              a.nav-link(href='user/login') 
                i.fa.fa-sign-in(aria-hidden='true')  &nbsp;
                |  Login 
          -}
         

      .container
        block content 
  br
  