doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="../style/layout.css")
  block head
    -var title='Facebook'
    title #{title}
  body 
      nav
        ul.nav
          li
            a.nav-link(href='/') Home 
          li
            a.nav-link(href='/profile') Profile 
          -if(user){
            li
              a.nav-link(href='user/logout')  Logout 
          -}
          -else{
            li
              a.nav-link(href='user/login')  Login 
          -}
         

      .container
        block content
        
  br
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")