extends layout

block content
    .card
        form(action='/post', enctype='multipart/form-data', method='post')
            div.form-group
                label Select your profile picture:
                input(type='file', name='pic')
            div.form-group
                textarea.form-control(type='text',rows="5",cols="5" ,name='status', id='')
            div.form-group
                input.btn.btn-success(type='submit', name='btn_upload_profile_pic', value='Upload')

