extends layout

block content
    .container-fluid
        h1.text-center.mt-4 THIS IS THE SECRET PAGE
        hr
        if user
            | welcome
            h1 #{user.name}
            p #{user.email}
            p 
        hr
        if user
            a.logout(href='logout') Logout
            
        a.logout(href='/') Back to Home
